*.exe
*.exe~
*.dll
*.so
*.dylib

bin/

/tmp/
*.tmp

/go/pkg/mod/

/testcache/

.vscode/
.idea/
*.swp
*.swo

*.log

.env

*.out
*.coverprofile

*.exe
*.test

.DS_Store
Thumbs.db

cmd/test_proto
deployments/develop/docker/docker-compose.yaml